body{

    margin:0;

    font-family:
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;

    background:#111;

    color:white;

}



.app{

    min-height:100vh;

    padding:40px 20px;

    text-align:center;

}



h1{

    font-size:42px;

}



.subtitle{

    opacity:.7;

}



.card{

    background:#1d1d1d;

    border-radius:20px;

    padding:25px;

    margin:20px auto;

    max-width:400px;

}



button{

    margin-top:20px;

    width:100%;

    padding:16px;

    border:none;

    border-radius:15px;

    background:white;

    color:black;

    font-size:18px;

}



button:disabled{

    opacity:.4;

}



.file{

    background:#292929;

    padding:12px;

    margin:8px;

    border-radius:12px;

}


.complete{

    border:2px solid white;

}